<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="fecha"  value="01/10/2009" />
  </appSettings> 
  <connectionStrings>
    <add name="dataSource" connectionString="Server=localhost\SQLSERVER2008;Database=GD2C2012;User Id=gd;Password=gd2012;"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>